$titleColor: #b98b00;
$textColor: #112744;
$backgroundNavy: #051c3b;
$backgroundYellow: #c18f00;

.boxscore {
  margin-bottom: 30px;

  &__hero {
    margin-bottom: 30px;
    padding-top: 40px;

    .title {
      margin-bottom: 50px;
      text-align: center;

      h1 {
        //@include helvetica(45px, $textColor, 900);

        display: block;
        line-height: 1;
        text-transform: uppercase;

      }
    }

    .teams {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;
      padding: 0 20%;

      .team {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: calc(50% - 100px);

        &__logo {
          width: 120px;
          height: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-bottom: 20px;

          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }
      }

      .divider {
        text-align: center;
        width: 200px;

        h3 {
          margin-bottom: 15px;
        }

        span {
          width: 35px;
          height: 35px;
          line-height: 1;
          padding-top: 12px;
          text-transform: uppercase;
          letter-spacing: 1px;
          background-color: #eaeaea;
          border-radius: 100%;
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .game_info {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;

    .item {
      padding: 0 15px;
      margin-bottom: 30px;
      max-width: 33%;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        border-right: none;
      }

      span {

        margin-bottom: 8px;
        max-width: 100%;
        white-space: nowrap;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }

      p {
        line-height: 1.2;
        max-height: 40px;
        overflow: hidden;
        margin-bottom: 0;

        a {
          color: $textColor;
        }

      }

      a {
        line-height: 1.2;
        display: inline-block;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__table {
    .table_xml {
      margin-bottom: 30px;
    }
  }

  .article__box_score {
    padding-bottom: 0;
    border-bottom: 0;
  }

  &__tabs {
    .tabs-nav {
      background-color: #efefef;
      border-bottom: 2px solid $textColor;
      margin-bottom: 30px;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

        li {
          display: block;

          a {
            padding: 12px 30px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            background-color: transparent;
            display: inline-block;
            text-decoration: none;
            transition: 0.3s;
            transition-property: background-color, color;

            &:hover {
              background-color: $textColor;
              color: white;
            }
          }

          &.active {
            a {
              background-color: $textColor;
              color: white;
            }
          }
        }
      }
    }

    .tabs-list {
      .tab {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }
  }
}
